/*--- TARGET IE6,7,8 ---*/
.ie6,
.ie7,
.ie8 {
  display: none; }

/*--- RESET ---*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* Light */
@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: 300;
  src: local("fonts/RobotoLight"), local("fonts/RobotoLight"), url("fonts/RobotoLight.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("fonts/RobotoLightItalic"), local("fonts/RobotoLightItalic"), url("fonts/RobotoLightItalic.ttf") format("truetype"); }

/* Normal */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("fonts/RobotoRegular"), local("fonts/RobotoRegular"), url("fonts/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("fonts/RobotoItalic"), local("fonts/RobotoItalic"), url("fonts/RobotoItalic.ttf") format("truetype"); }

/* Bold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("fonts/RobotoBold"), local("fonts/RobotoBold"), url("fonts/RobotoBold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local("fonts/RobotoBoldItalic"), local("fonts/RobotoBoldItalic"), url("fonts/RobotoBoldItalic.ttf") format("truetype"); }

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block; }

hr {
  border: dotted #ccc 1px; }

a img {
  border: 0; }

a {
  text-decoration: none; }

/*------------------------------ END CONTENT RESPONSIVE SCREEN ------------------------------*/
/*--- RESPONSIVE CLEAR TAG CSS ---*/
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after,
.pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  display: table;
  content: " "; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both; }
