@media #{$tablet} {
	//Header
	header {padding-top: 5em;}
	h3 {font-size:100%;}
	section {padding: 1.5em 0;
		&:last-of-type {padding-bottom: 6em;}
	}
	#logo {float: right; text-align: right;}
	//Time
	#date-time {
		&:after {content: ''; display: block; width: 0.5em; height: calc(100% - 1.6em); position: absolute; top: 0; right: 0; background: $green;}
	}
	#date {margin-bottom: 0;}
	#time {font-size: 4em;}
	//Events
	#events, #tasks {
		button {width: auto;}
	}
	#event-list {text-align: left;
		li {display: inline-block; margin:0 3% 1em; width: 28%; font-size: 0;
			&:first-of-type {margin:0 3% 1em 0;}
			&:last-of-type {margin:0 0 1em 3%;}
			> div {font-size: 16px;}
		}

		.time {padding-bottom: 0.75em; margin-bottom: 1.2em; display: inline-block; max-width: 100%; margin-right: 0; float: left; font-size: 20px; }
		.event-info {width: 100%; float: left;}
		.event-title {margin-top: 0.05em; margin-bottom: 0.75em;}
	}
	//Tasks
	#task-info-container {
		.task-title { padding: 0; font-size: 1.2em;
			&:before {content: ''; display: block; width: 0.5em; height: 0.5em; border-radius: 100%; position: absolute; top: 0.5em; left: -0.75em;}
		}
		.task-details {padding: 0; font-size: 80%; max-width: 500px;}
		.task-info {
			&[data-task-state="outstanding"] {
				.task-title:before {background: $blue;}
			} 
			&[data-task-state="complete"]{
				.task-title:before {background: $green;}
			}
		}
	}

	#task-status {text-align: right; margin-top: 3.5em;}
	.task-block { margin: 1em 0 0; text-align: right;
		p {margin-bottom: 0.15em;}
		.label {color: $faded-blue; font-size: 145%}
		.count { margin-bottom: 0; font-size: 300%;}
		&#complete {
			.count {color: $green;}
		}
		&#outstanding {
			.count {color: $blue;}
		}
	}
}