//Colors
$white: #ebeff0; //Not really
$green: #91eebc;
$blue: #4491b5;
$faded-blue: #97acba;

$bg-light: #7f97a7;
$bg-dark: #44667c;

$text-colour: $white;
$brand-highlight: $green;

//File Locations
$images: "../img/";
$fonts: "../fonts/";

//Globals
$font-stack: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;