{% extends 'layouts/site.njk' %}

{% set title = 'Native VML Assessment - Main' %}

{% block content %}

  <div class="container">
    {% include 'components/header.njk' %}
    {% include 'components/date-time.njk' %}
    {% include 'components/events-listing.njk' %}
    {% include 'components/tasks.njk' %}
  </div>

{% endblock %}
