<section class="date-time" data-aos="fade-up">
  <div class="container">
    <div class="cs">
      <div class="cols-m-12" data-widget="DateTime">
        <h2 id="daydate">Loading..</h2>
        <h1 id="time" class="h1--large">Loading..</h1>
      </div>
    </div>
  </div>
</section>
