<section class="events" data-aos="fade-up">
  <div class="container">
    <h2>Events</h2>
    <div class="cs">

      {% include "components/events-single.njk" %}

    </div>
    <a class="button" href="#">Manage Events</a>
  </div>
</section>
