<div class="cols cols-s-4">
  <h4>11:30</h4>
  <h3>The videographer has began to film. He has sent you a messge.</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  ncididuynt ute.</p>
</div>
<div class="cols cols-s-4">
  <h4>3:30</h4>
  <h3>You have a meeting later today with the roof inspector.</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  ncididuynt ute.</p>
</div>
<div class="cols cols-s-4">
  <h4>4:15</h4>
  <h3>Meet Telkom engineer for fibre installation at new offices.</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  ncididuynt ute.</p>
</div>
