<section class="tasks" data-aos="fade-up">
  <div class="container" data-widget="DateSlider">
    <h2>Tasks</h2>
    <div class="date-slider">
      <ul id="dateSlider">
        <li data-month="may">MAY</li>
        <li data-month="jun">JUN</li>
        <li data-month="jul">JUL</li>
        <li data-month="aug">AUG</li>
        <li data-month="sep">SEP</li>
      </ul>
    </div>
    <div class="cs">
      <div class="cols-s-8 tasklist">
        <ul id="tasklist">
          <h3>Please Select a month to view tasks</h3>
        </ul>
        <a class="button" href="#">Manage Tasks</a>
      </div>
      <div class="cols-s-4 tasks__summary">
        <h3 class="h3--secondary">Completed<span class="colour colour--light-blue" id="completed">26</span></h3>
        <h3 class="h3--secondary">Outstanding<span class="colour colour--dark-blue" id="outstanding">2</span></h3>
      </div>
    </div>
  </div>
</section>
