/* Table of Contents
==================================================
    #General
    #Header
    #Content
    #Footer */

/* General
============================= */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,300');
html {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: none;
    overflow: visible;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #222;
    line-height: 1.4;
}

.container{max-width: 1150px; width: 100%; margin: auto;}

h1, h2, h3, h4, h5, h6 {
    margin: 15px 0;
    padding: 0;
    position: relative;
    line-height: normal;
    text-transform: uppercase;
}

h4{
    font-size: 20px;
    color: #fff;
}

hr {
    border-top: solid 1px #bbb;
    border-bottom: solid 1px #eee;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #e9533f;
}

a:hover, a:focus, a:active {
    color: #222;
    outline: none;
    text-decoration: none;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
    overflow: hidden;
    text-overflow: ellipsis;
}

button:focus {
    outline: none;
}

/* Header
============================= */
header .container{
    background-color: #fff;
}

header a.logo {
    display: inline-block;
    padding: 15px 0;
}

header a.logo > img {
    max-width: 100%;
}

/* Content
============================= */
section#huge-banner .container{
    height: 980px;
}
section#huge-banner .container{
    background: #f7f7f7 url('/assets/images/banner.jpg') center / cover no-repeat;
    position: relative;
}

.main_content{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}
.main_content .row{
    margin-bottom: 15px;
}
.total {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0, 0.41);
    padding: 15px;
}
.total h4, .total h2{
    margin: 0;
    color: #fff;
}
.total h4{
    padding-bottom: 5px;
    border-bottom: 1px solid #e21a22;
}
.total h2{
    font-weight: bold;
}
.total h2 span{
    font-weight: normal;
    font-size: 15px;
    text-transform: lowercase;
}

.total .qmark{
    background: #e21a22;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

#profile-header{
    margin-top: 30px;
    margin-bottom: 50px;
    color: #fff;
}
#profile-header .profile{
    margin: auto;
    max-width: 360px;
    width: 100%;
    display: table;
}
#profile-header .profile .column{
    display: table-cell;
    vertical-align: bottom;
}
#profile-header .profile .column:first-child{
    width: 25%;
}
#profile-header .profile .form-control {
    width: auto;
    height: 37px;
    padding: 6px 30px 8px 15px !important;
    background-color: rgba(0,0,0, 0.41);
    color: #fff;
}
#profile-header .profile select, select.form-control {
    background-image: url('/assets/images/white-drop.png');
}
#profile-header h1, #profile-header h4{
    margin: 0;
}
#profile-header h1{
    color: #fff;
    border-bottom: 1px solid #e21a22;
    padding-bottom: 5px;
    /*display: inline-block;*/
    margin-bottom: 15px;
}

.block.head{
    background: rgba(0,0,0, 0.41);
    width: 100%;
    /*height: 130px;*/
    text-align: center;
    padding: 15px;
}
.block{
    position: relative;
}
.block.price{
    background: #e21a22;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 41px;
}
.block.price span{
    font-size: 15px;
}
.block.price .readmore{
    background: #fff;
    color: #e21a22;
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 50%;
    margin-top: 23px;
    margin-right: 10px;
} 
/* .block.price .readmore:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}  */

.block.details{
    background: #fff;
    padding: 15px;
    line-height: 24px;
    display: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.block.details h4{
    color: #666666;
    margin-bottom: 0;
    font-size: 24px;
}
.block.details select{
    margin-top: 15px;
    margin-bottom: 15px;
}

select, select.form-control {
    background-image: url('/assets/images/red-drop.png');
    background-size: 35px;
}
.form-control {
    width: 100%;
    height: 45px;
    padding: 10px 16px !important;
    background-color: #fff;
    border: 1px solid #333333 !important;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

section#content .container{
    background-color: #dad7d7;
}
section#content .white_bg{
    background-color: #fff;
    padding: 15px 15px 30px;
    text-align: center;
}
section#content .white_bg p{
    text-align: left;
}
section#content .white_bg img{
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

}

.relative{position: relative;}

.card .card-icon {
    background: rgba(0,0,0, 0.4);
    width: 100%;
    display: block;
    height: 180px;
}
.card .card-icon:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.card .card-icon .inner_card {
    display: inline-block;
    height: 100%;
}
 .card{
    text-align: center;
    overflow: hidden;
} 
.card .card-price{
    background: red;
}
.card .card-price ul.additional-info {
    background-color: #e21a22;
    display: table;
    height: 50px;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 8px 12px;
}
.card .card-price ul.additional-info li {
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.card .card-price ul.additional-info li h4{
    font-size: 41px;
    margin: 0;
}
.card .card-price ul.additional-info li h4 span{
    font-size: 15px;
    text-transform: lowercase;
}
.card .card-price ul.additional-info li:first-child {
    width: 5%;
    line-height: 10px;
    font-size: 20px;
    text-align: center;
}
.card .card-price ul.additional-info li:last-child {
    width: 5%;
    vertical-align: bottom;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 5px;
}
.card .card-price ul.additional-info li:last-child a {
    font-size: 23px;
    color: red;
    background: #fff;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.card .card-price ul.additional-info li:last-child a:hover {
    background: #000;
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.card .card-overlay {
    width: 100%;
    height: 0;
    background: #fff;
    display: block;
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    text-align: left;
    padding: 15px 15px 30px;
}
.card .card-overlay h4{
    color: #666666;
    margin-bottom: 0;
    font-size: 24px;
}
.card .card-overlay select{
    margin-top: 15px;
    margin-bottom: 15px;
}
.card .card-overlay .grade_price{
    font-size: 20px;
    font-weight: bold;
}
.card .card-overlay .green_label{
    color: #b4d333;
}
.card.open {
    overflow: visible;
}
/* .card:hover .card-overlay {
    z-index: 999;
    height: 250px;
    opacity: 1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
} */
.card-overlay.open {
    z-index: 999;
    min-height: 280px;
    height: 100%;
    display: block;
    opacity: 1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.btn {
    padding: 15px 16px;
    font-size: 18px;
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: #001950;
    border-color: #001950;
}
.btn-primary:hover {
    color: #fff;
    background-color: #082870;
    border-color: #082870;
}

.slide_nav {
    position: absolute;
    left: 0;
    top: 0;
}
    .slide_nav a.nav_left {
        background: #e21a22;
        color: #fff;
        padding: 2px 15px;
        display: inline-block;
        font-size: 24px;
    }

/* Footer
============================= */
footer .container{
    background-color: #fff;
    padding: 15px;
}

img{
    max-width: 100%;
}
