@media screen and (max-width: 1199px) {



}

@media screen and (max-width: 991px) {
	#profile-header .profile {max-width: 280px;}
	.total h2 {font-size: 36px;}
	.card .card-price ul.additional-info li h4 {font-size: 25px;}
	.card .card-price ul.additional-info li:last-child a {
	    font-size: 17px;
	    display: block;
	    width: 20px;
	    height: 20px;
	}
	.block.head h4 {font-size: 16px;}
	.card .card-overlay h4{margin: 0;}
	.card .card-overlay {padding: 10px;}

}

@media screen and (min-width: 768px) and (max-height: 767px) {



}

@media screen and (max-width: 767px) {

	.total.relative.visible-xs{
		max-width: 320px;
		width: 100%;
		margin: auto;
		margin-top: 30px;
	}
	section#huge-banner .container {
	     background: #dad7d7; 
	}
	#profile-header {
	    background: #f7f7f7 url('/assets/images/banner.jpg') center / cover no-repeat;
	    position: relative;
	    padding: 30px 15px;
	}
	.slide_nav{display: none;}

	.card{margin-bottom: 15px;}
	.card .block.head {background: rgba(255,255,255, .9);}
	.card .block.head h4 {color: #000;}
	.card .block.head img {-webkit-filter: grayscale(100%); filter: grayscale(100%);}

	section#huge-banner .container {height: initial;}
	section#content h2 {font-size: 27px;}
	section#content .btn-primary.btn-block,
	section#content .btn-danger.btn-block {margin-bottom: 30px;}




}