.header {
  padding-bottom: 55px;
  border-bottom: 4px solid $secondary-colour;

  margin-bottom: $default-margin;
  @include blueq-max ('l') {
    margin-bottom: $large-margin;
  }
  @include blueq-max ('xs') {
    margin-bottom: $small-margin;
  }

  .logo {
    height: 49px;
    width: auto;
    margin-top: 20px;
    @include blueq-max (500px) {
      display: none;
    }
    &--mobile-only {
      display: block;
      margin-bottom: 35px;
      @include blueq-min (500px) {
        float: none;
        display: none;
      }
    }
  }
}
