@viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: $background-colour;
  background-image: url( /assets/images/page-background.jpg );
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  color: $primary-colour;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 170px;

  @media screen {
    @include blueq-max ('xl') {
      padding-top: 90px;
    }
  }

  @media screen {
    @include blueq-max ('xs') {
      padding-top: 35px;
    }
  }
}

.container {
  margin: 0 auto;
  @media screen {
    @include blueq-min ('xl') {
      max-width: 970px;
    }
  }

  @media screen {
    @include blueq-max ('xl') {
      max-width: 750px;
    }
  }

  @media screen {
    @include blueq-max ('xs') {
      max-width: 100%;
    }
  }
}

section {
  display: block;
}
